.contacto__container
    .contacto__form
        //- .contacto__form__contenedor
        //-     .title__contacto
        //-         h2 Déjenos un mensaje...
        form
            .div__info__contacto
                .div__info__contacto__item
                    label Nombre Completo
                        input(type="text" placeholder="Juan José" autofocus)#nombre
                
                .div__info__contacto__item
                    label Correo Electrónico
                        input(type="text" placeholder="Juan@Example.com")#email

                .div__info__contacto__item
                    label Teléfono
                        input(type="text" placeholder="(300)455 5555" maxlength="10")#telefono


                .div__info__contacto__item
                    label Asunto
                        input(type="text" placeholder="Neiva")#asunto


                .div__info__contacto__item 
                    label Mensaje
                        textarea(name="", cols="30", rows="10" placeholder="Your message...")#mensaje
            
                .div__info__contacto__item__send
                    button#buttonContacto Enviar 





    .contacto__form__container
        .contacto__title
            h2.contacto__title__h2 Información de contacto 
        
        .contacto__description

            .contacto__description__item
                i.fa.fa-envelope-o         
                span juan@example.gov.co
            
            .contacto__description__item
                i.fa.fa-mobile
                .span
                    span +57 314 444 4444
                    span +57 315 555 5555

            .contacto__description__item
                i.fa.fa-location-arrow
                .span
                    span xxxxxxxxxxxxxxxxxxxxxxxxx
                    span isnos - huila, colombia 

            .contacto__description__item
                span e.s.e hospital san jose

            
            

        
