nav.menu
  div.menu-logo
    figure.menu-img-logo
      img(src = "http://eseisnos.gov.co/images/logo_lateral.jpg", alt = "logo")
  ul.menu-list
    li.menu-item
      a(href = "") inicio
    li.menu-item
      a(href = "") servicios
    li.menu-item(style ="display: none") siau
    li.menu-item
      a(href="") contáctenos
    li.menu-item.menu-icon
      i(class = "fa fa-bars" aria-hidden="true")