nav.menu
  div.menu-logo
    figure.menu-img-logo
      img(src = "http://eseisnos.gov.co/images/logo_lateral.jpg", alt = "logo")
  ul.menu-list
    li.menu
      i(class = "fa fa-bars menu-icon" aria-hidden="true")
    li.menu-item inicio
    li.menu-item inicio
    li.menu-item inicio
    li.menu-item inicio
    li.menu-item inicio