div.section-text.aboutUs
  div.section-text-title
    h2 Acerca de la clínica
  div.section-text-title-line
  p.section-text-text La Institución fue creada en 1.962, es decir hace aproximadamente 54 años, cuando funcionaba como dependencia del desaparecido Servicio de Salud del Huila; posteriormente fue adherido al Hospital Departamental "San Antonio" de la ciudad de Pitalito, siendo el Centro Asistencial adscrito al de Segundo Nivel y dependió económica y administrativamente del último hasta nueve de septiembre de 1.997. De ahí en adelante empieza a funcionar como Centro de Salud "San José", dejando atrás el manejo administrativo del Hospital Regional de Pitalito.
