div.partners-list
  figure.partners-list-item
    a(href = "https://minsalud.gov.co/" target = "blank")
      img(src="./images/minSalud.png" alt="ministerio de salud")
  figure.partners-list-item
    a(href = "http://www.isnos-huila.gov.co" target = "blank")
      img(src="./images/eisnos.png" alt="ministerio de salud")
  figure.partners-list-item
    a(href = "http://www.huila.gov.co/" target ="blank")
      img(src="./images/govHuila.png" alt="ministerio de salud")
  figure.partners-list-item
    a(href = "https://www.colombiacompra.gov.co/colombia-compra/colombia-compra-eficiente" target = "blank")
      img(src="./images/cocompra.png" alt="https://www.colombiacompra.gov.co/colombia-compra/colombia-compra-eficiente")
  figure.partners-list-item
    a(href = "https://www.supersalud.gov.co/es-co" target = "blak")
      img(src="./images/gobsupersalud.png" alt="https://www.supersalud.gov.co/es-co")
  figure.partners-list-item
    a(href = "https://www.sivirtual.gov.co/" target ="blank")
      img(src="./images/si.png" alt="https://www.sivirtual.gov.co/")

  figure.partners-list-item
    a(href = "http://extranet.huila.gov.co/isnos/site.aspx?codigo=d368389f-817b-4485-a1f0-b6c28e5f2532" target ="blank")
      img(src="./images/extranet.png" alt="http://extranet.huila.gov.co/isnos/site.aspx?codigo=d368389f-817b-4485-a1f0-b6c28e5f2532")

div.copyright creado por ces1508 @2017