div.partners-list
  figure.partners-list-item
    a(href = "https://ministeriodelasalud.gov.co")
      img(src="./images/minSalud.png" alt="ministerio de salud")
  figure.partners-list-item
    a(href = "https://ministeriodelasalud.gov.co")
      img(src="./images/eisnos.png" alt="ministerio de salud")
  figure.partners-list-item
    a(href = "https://ministeriodelasalud.gov.co")
      img(src="./images/govHuila.png" alt="ministerio de salud")
  figure.partners-list-item
    a(href = "https://ministeriodelasalud.gov.co")
      img(src="./images/cocompra.png" alt="ministerio de salud")
  figure.partners-list-item
    a(href = "https://ministeriodelasalud.gov.co")
      img(src="./images/gobsupersalud.png" alt="ministerio de salud")

div.copyright creado por ByPochito @2017