*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-size: 16px
.main
  margin: 0

.menu
  display: flex
  flex-direction: row
  position: fixed-top
  padding: 0.5em
  align-items: center
  justify-content: space-between
  height: 65px
  &-list
    margin-right: 10px
  &-item
    display: none
  &-img-logo
    width: 100%
    max-width: 150px
    text-align: left
    img
      width: 100%
      max-width: 100%
  &-icon
    font-size: 30px
.nivoSlider
  figure
    width: 100%
    img
      width: 100%
      max-width: 100%
      max-height: 240px
.section-text
  color: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 20px

  &-title
    padding: 10px
    padding-bottom: 20px
    text-align: center
    font-size: 2em
    &-line
      width: 150px
      height: 5px
      background: white
  &-text
    padding-top: 15px

.aboutUs
    background: #224b70
.objetive
    background: #c94d40
.list-services
  list-style-type: none
  padding-top: 15px
  width: 100%
  &-item
    display: flex
    padding: 8px 0
  &-text
    padding-left: 10px

.lema
  &-img
    width: 100%
    img
      width: 100%
      max-width: 100%

.partners
  &-list
    display: flex
    flex-wrap: wrap
    &-item
      padding-top: 15px
      width: 50%
      max-width: 50%
      img
        width: 100%
        max-width: 100%



