div.section-text.objetive
  div.section-text-title
    h2 Población Objeto
  div.section-text-title-line
  p.section-text-text La ESE. Hospital San José, cumpliendo con las normas legales, ofrece sus servicios a la población de Isnense la cual tiene aproximadamente 27.141 habitantes, ofrecemos el siguiente portafolio de servicios:
  ul.list-services
    li.list-services-item
      i(class="fa fa-check-square-o list-services-item-check" aria-hidden="true")
      span.list-services-text Consulta Externa.
    li.list-services-item
      i(class="fa fa-check-square-o list-services-item-check" aria-hidden="true")
      span.list-services-text Servicios de Protección Específica y Detección Temprana.
    li.list-services-item
      i(class="fa fa-check-square-o list-services-item-check" aria-hidden="true")
      span.list-services-text Atención Extramural.
    li.list-services-item
      i(class="fa fa-check-square-o list-services-item-check" aria-hidden="true")
      span.list-services-text Odontología.
    li.list-services-item
      i(class="fa fa-check-square-o list-services-item-check" aria-hidden="true")
      span.list-services-text Laboratorio Clínico.
    li.list-services-item
      i(class="fa fa-check-square-o list-services-item-check" aria-hidden="true")
      span.list-services-text Farmacia.
    li.list-services-item
      i(class="fa fa-check-square-o list-services-item-check" aria-hidden="true")
      span.list-services-text Urgencias y Hospitalización de baja complejidad.